<!DOCTYPE html>
<html>

<div>
    <h1>Home</h1>
</div>

<head>
    <meta charset="utf-8">
    <title>Add User</title>
    <link href="/style" rel="stylesheet" type="text/css" />
</head>

<body>

<p class="text-primary">
    <a type="submit" href="/users">Users</a>
</p>

<div class="container">
    <div class="row">
        <form action="/" method="POST">
            <div class="form-group">
                <label>Name
                    <input class="form-control" name="name" type="text" />
                </label>
                <label>Birth day
                    <input class="form-control" name="birthday" type="date" />
                </label>
            </div>
            <button type="submit" class="btn btn-primary" value="Send">Add</button>
        </form>
    </div>
</div>
</body>

</html>